
@font-face {
  font-family: 'GraphikArabic';
  src: url('https://cdn.jsdelivr.net/gh/m12a12b12/graphik-font@38002e02c49cb0ce8ed8d924527f298acf26e08d/GraphikArabic-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
